{% extends 'base.html' %} 
{% block body %}
 
   <section class="form-group">
    
  <div class="container">
<form action = '/' class="contact-form" method="POST">
<div class="align-content">
    <div class="form-group col-md-2">
      <label for="UserName">Name</label>
      <input type="text" class="form-control" id="UserName" name="Name" placeholder="Applicant Name">
    </div>
    <div class="form-group col-md-2">
      <label for="Gender">Gender</label>
    <select id="Gender" class="form-control" name="Gender" >
        <option value=1>Male</option>
        <option value=0>Female</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="Married">Married</label>
          <select id="Married" class="form-control" name="Married" >
            <option value=0>No</option>
            <option value=1>Yes</option>
            </select>
    </div>
    <div class="form-group col-md-2">
      <label for="Dependents">Dependents</label>
      <select id="Dependents" class="form-control" name="Dependents" >
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3+</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="Education">Education</label>
        <select id="Education" class="form-control" name="Education" >
            <option value=0>Graduate</option>
            <option value=1>Not Graduate</option>
      </select>
    </div>
     <div class="form-group col-md-2">
      <label for="Self_Employed">Self_Employed</label>
       <select id="Self_Employed" class="form-control" name="Self_Employed" >
            <option value=0>No</option>
            <option value=1>Yes</option>
      </select>
    </div>
     <div class="form-group col-md-2">
      <label for="Credit_History">Credit_History</label>
         <select id="Credit_History" class="form-control" name= "Credit_History">
            <option value=1>Yes</option>
            <option value=0>No</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="Property_Area">Property_Area</label>
       <select id="Property_Area" class="form-control" name="Property_Area" >
        <option value=2>Urban</option>
        <option value=0>Rural</option>
        <option value=1>Semiurban</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="Applicant_Income">Applicant_Income</label>
      <input type="number" class="form-control" id="Applicant_Income" placeholder="Applicant_Income" name="Applicant_Income", value = 0 onClick="Clear(this.id);">
    </div>
    <div class="form-group col-md-2">
      <label for="Coapplicant_Income">Coapplicant_Income</label>
      <input type="number" class="form-control" id="Coapplicant_Income" placeholder="Coapplicant_Income" name="Coapplicant_Income" value = 0 onClick="Clear(this.id);">
    </div>
    <div class="form-group col-md-2">
      <label for="Total_Income">Loan_Amount</label>
      <input type="number" class="form-control" id="Loan_Amount" placeholder="Loan_Amount" name="Loan_Amount" value = 0 onClick="Clear(this.id);">
    </div>
     <div class="form-group col-md-2">
      <label for="Loan_Amount_Term">Loan_Amount_Term</label>
      <input type="number" class="form-control" id="Loan_Amount_Term" placeholder="Loan_Amount_Term" name="Loan_Amount_Term" value = 0 onClick="Clear(this.id);">
    </div>     
   </div>

 <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div> -->
  <div class="form-group col-md-2">
  <button type="submit" class="btn btn-primary">Predict</button>
</div>
<script type="text/javascript">

function Clear(str)
{    
   document.getElementById(str).value= "";
}
</script>
</form>
    <!--/#contact-page-->




<div class="container">

  {% if allTodo|length == 0 %}
  <div class="alert alert-dark" role="alert">
                    No record added yet!
                  </div>
  {%else%}

  <table class="table">
  <thead>
    <tr>
      <th scope="col">sno</th>
      <th scope="col">Name</th>
      <th scope="col">Eligibility</th>
      <th scope="col">Date</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  {% for todo in allTodo %}
  <tbody>
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{todo.Name}}</td>
      <td>{{todo.Predict}}</td>
      <td>{{todo.date_created}}</td>
      <td>
        <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-org btn-sm mx-1">Delete</button>
      </td>
    </tr>
    
  {% endfor %}
     </tbody>
     </table>
  {% endif %}

</div>
 </section>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for ('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for ('static', filename='js/clean-blog.min.js')}}"></script>
<footer>      
<p class="center footer">Copyright &copy; Dev 2021</p>     
</footer>

{% endblock body %}

